@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Aktiv Grotesk VF";
    src: url("../fonts/AktivGroteskVF_Trial_WghtWdthItal.woff2");
}

html {
    font-family: "Aktiv Grotesk VF", sans-serif;
    margin: 0;
    background: black;
    color: white;
}

body {
    margin: 0;
}
