@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Aktiv Grotesk VF";
    src: url("../fonts/AktivGroteskVF_Trial_WghtWdthItal.woff2");
}

html {
    font-family: "Aktiv Grotesk VF", sans-serif;
    margin: 0;
    background: black;
}

body {
    margin: 0;
}

.faq-bg {
    background-image: url('../images/bg-text.svg');
}

h1 {
    vertical-align: super;
}
